[app]
host="0.0.0.0"
port=8002
name="erp-audit-service"
debug=true
env="development"

[grpc]
host="0.0.0.0"
port=5002

[jwt]
key="Erp#jwt!S3cr3tK3y"

[sentry]
enabled=true
dsn="0.0.0.0"
timeout="5s"

[trace]
enabled=true

  [trace.jaeger]
  host="0.0.0.0"
  port="14268"

[metric]
enabled=true

[mongodb]
enabled=true
host="0.0.0.0"
port=27017
name="audit"
username="root"
password="secret"
