[app]
host="0.0.0.0"
port=8003
name="erp-configuration-service"
debug=true
env="development"

[grpc]
host="0.0.0.0"
port=5003

[jwt]
key="Erp#jwt!S3cr3tK3y"

[sentry]
enabled=true
dsn="localhost"
timeout="5s"

[trace]
enabled=true

  [trace.jaeger]
  host="localhost"
  port="14268"

[metric]
enabled=true

[database]
enabled=true
connection="mysql"
name="configuration"
max_open_conns=280
max_idle_conns=20
conn_lifetime_max="1h"

  [database.write]
  host="0.0.0.0"
  port=3306
  username="root"
  password="secret"

  [database.read]
  host="0.0.0.0"
  port=3306
  username="root"
  password="secret"