erp-crm-service

vendor
vendor/
glide.lock
idea
idea/
.idea/
/.idea/
.idea/workspace.xml
.idea
.DS_Store
docker_data/
docker/grafana_data
docker/mysql_data
docker/prometheus_data
docker/redis
docker/observability/grafana

gin-bin.exe
gin-bin.exe~
.vscode/launch.json

params/

config/*.toml
*.toml
*.xlsx