[app]
host="0.0.0.0"
port=8000
name="erp-boilerplate-service"
debug=true
env="development"

[grpc]
host="0.0.0.0"
port=5000

[jwt]
key="S3r3tp!5an4tUh"

[sentry]
enabled=true
dsn="localhost"
timeout="5s"

[trace]
enabled=true

  [trace.jaeger]
  host="localhost"
  port="14268"

[metric]
enabled=true

[database]
enabled=true
connection="mysql"
name="boilerplate"
max_open_conns=280
max_idle_conns=20
conn_lifetime_max="1h"

  [database.write]
  host="0.0.0.0"
  port=3306
  username="root"
  password="secret"

  [database.read]
  host="0.0.0.0"
  port=3306
  username="root"
  password="secret"

[mongodb]
enabled=false
host="0.0.0.0"
port=27017
name="db-example"
username="root"
password="secret"

[redis]
enabled=true
host="0.0.0.0"
port=6379
namespace=1
username="root"
password="secret"
conn_lifetime_max="1h"
dial_timeout="5s"
write_timeout="5s"
read_timeout="5s"
idle_timeout="10s"

[s3]
enabled=false
endpoint="sgp1.digitaloceanspaces.com"
bucket_name=""
access_key_id=""
secret_access_key=""
token=""
use_ssl=true

[client]
enabled=false

  [client.account_service_grpc]
  enabled=false
  host="0.0.0.0"
  port=5001
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true

  [client.audit_service_grpc]
  enabled=false
  host="0.0.0.0"
  port=5002
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true

  [client.configuration_service_grpc]
  enabled=false
  host="127.0.0.1"
  port=5003
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true
  
  [client.bridge_service_grpc]
  enabled=false
  host="127.0.0.1"
  port=5004
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true

[kafka]
enabled=false
brokers=["localhost:9092"]
version=""
username=""
password=""
tls=false
pem_tls_path=""
timeout="5s"

  [kafka.publisher]
  topic="person"

  [kafka.subscriber]
  topic="person"
  group="person-synchronize"

