[app]
host="0.0.0.0"
port=8008
name="erp-crm-service"
debug=true
env="development"

[grpc]
host="0.0.0.0"
port=5008

[jwt]
key="Erp#jwt!S3cr3tK3y"

[sentry]
enabled=true
dsn="localhost"
timeout="5s"

[trace]
enabled=true

  [trace.jaeger]
  host="jaeger-collector.jaeger.svc.cluster.local"
  port="14268"

[metric]
enabled=true

[database]
enabled=true
connection="mysql"
name="crm"
max_open_conns=280
max_idle_conns=20
conn_lifetime_max="1h"

  [database.write]
  host="localhost"
  port=3306
  username="root"
  password="secret"

  [database.read]
  host="localhost"
  port=3306
  username="root"
  password="secret"

[mongodb]
enabled=true
host="0.0.0.0"
port=27017
name="db-example"
username="root"
password="secret"

[client]
enabled=true

  [client.account_service_grpc]
  enabled=true
  host="127.0.0.1"
  port=5001
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true
  
  [client.audit_service_grpc]
  enabled=true
  host="0.0.0.0"
  port=5002
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true

  [client.configuration_service_grpc]
  enabled=true
  host="127.0.0.1"
  port=5003
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true

  [client.bridge_service_grpc]
  enabled=true
  host="127.0.0.1"
  port=5004
  timeout="30s"
  max_concurrent_requests=30
  error_percent_threshold=20
  tls=false
  pem_tls_path=""
  secret=""
  realtime=true

[s3]
enabled=true
endpoint="sgp1.digitaloceanspaces.com"
bucket_name="image-erp-dev-eden"
access_key_id=""
secret_access_key=""
token=""
use_ssl=true